@using BissellPlace.PaleoChallenge.Framework.Http.Helpers
<div data-ng-controller="home">    
    <div class="row">
		<ul>
			<li ng-repeat="tab in tabs"
				ng-class="{active:isActiveTab(tab.url)}"
				ng-click="onClickTab(tab)">{{tab.title}}</li>

		</ul>
		<div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
		

		<br />
        <a class="btn btn-primary" ng-click="save(record)">Log</a>        
    </div>
    <nvd3-line-plus-bar-chart data="chart"
                              id="exampleId"
                              margin="{left:100,top:20,bottom:20,right:100}"
                              xaxistickformat="xAxisTickFormat()"
                              y1axislabel="{{y1axislabeltext}}"
                              y2axislabel="{{y2axislabeltext}}"
                              y1axistickformat="y1AxisTickFormat()"
                              forcey="[0]"
                              showlegend="true"
                              legendwidth="200"
                              legendheight="300">
    </nvd3-line-plus-bar-chart>    
    <div data-ng-include='"views/entries/" + entry.Type + ".html"' data-ng-repeat="entry in records">{{entry.CheckDate}} </div>
</div>

@{ Html.TemplateRender("~/Content/views"); }
@section models
{    
    <script type="text/javascript">
        var defaultModel = @Html.Raw(Json.Encode(Model) + ";");
    </script>    	
}


@{
	<script type="text/ng-template" id="tab.points.html">
		<div id="Points">			
			Today's Points <input type="text" data-ng-model ="record.Data" name="points" type="number"/>								
		</div>
	</script>
	<script type="text/ng-template" id="tab.weight.html">
		<div id="Weight">
			Weigh In: <input type="text" data-ng-model="record.Weight" type="number"/>
		</div>
	</script>
	<script type="text/ng-template" id="tab.comments.html">
		<div id="Comments">
			Comments <input type="text" data-ng-model="record.Comment" name="Comments" />
		</div>
	</script>
>>>>>>> origin/master
}