@using BissellPlace.PaleoChallenge.Framework.Http.Helpers
<div data-ng-controller="home">    
    <div class="row">
		<ul>
			<li ng-repeat="tab in tabs"
				ng-class="{active:isActiveTab(tab.url)}"
				ng-click="onClickTab(tab)">{{tab.title}}</li>

		</ul>
		<div id="mainView">
            <div ng-include="currentTab" ng-keypress="OnEnterTab($event)"></div>
        </div>
		

		<br />
        <a class="btn btn-primary" ng-click="save(record)">Log</a>        
    </div>
    <div id="weightChart" data-chart-progress-weight="" data-chart="chart">
        <svg></svg>
    </div>    
    {{chart}}   
    <div data-ng-include='"views/entries/" + entry.Type + ".html"' data-ng-repeat="entry in records">{{entry.CheckDate}} </div>


@{ Html.TemplateRender("~/Content/views"); }
@section models
{    
    <script type="text/javascript">
        var defaultModel = @Html.Raw(Json.Encode(Model) + ";");
    </script>    	
}


@{
	<script type="text/ng-template" id="tab.points.html">
		<div id="Points">			
			Today's Points: Food <input type="text" data-ng-model ="record.Data" name="points" type="number"/>	
			8 Hours of sleep <input type="checkbox" data-ng-model="record.Sleep" name="sleep" value="1"/>
			Workout <input type="checkbox" data-ng-model="record.Workout" name="workout" value="1"/>
		</div>
	</script>
	<script type="text/ng-template" id="tab.weight.html">
		<div id="Weight">
			Weigh In: <input type="text" data-ng-model="record.Weight" type="number" />
		</div>
	</script>
	<script type="text/ng-template" id="tab.comments.html">
		<div id="Comments">
			Comments <input type="text" data-ng-model="record.Comment" name="Comments"/>
		</div>
	</script>
	<script type="text/ng-template" id="tab.date.html">
		<div id="Date">
			Specify Date <input type="date" data-ng-model="record.Date" name="DateTime"/>
		</div>
	</script>
}